:root{
    --color-primary: #FFCC00;
    --color-success: #6fc276;
    --color-warning: #FFCC00;
    --color-fail: #ff6961;
    --color-active: #93CAED;
    --color-dark: #2f2f2f;
    --color-background: #eeeeee;
    --color-info-dark: #18191a;
    --color-info-light: #fbfaf5;
}

h1{
    font-family: 'Rubik';
    font-size: 40px;
    color: var(--color-primary);
}

h2{
    font-family: 'Poppins';
    font-size: 18px;
    color: var(--color-info-light);
}

a{
    text-decoration: none;
}

a:hover{
    color: rgb(51, 51, 219);
}

h3{
    font-family: 'Lato';
    margin-top: 5px;
    font-size: 25px;
    color: var(--color-info-dark);
}

body{
    background-color: var(--color-background);
}

.logbox{
    height: 600px;
    width: 1000px;
    border-radius: 10px;
}
#bck{
    background-image: url(https://fondosmil.com/fondo/57243.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#bcklog{
    background-image: url(https://besthqwallpapers.com/Uploads/26-3-2017/14789/thumb2-modern-architecture-skyscrapers-business-centers-modern-buildings.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.regbox{
    height: 630px;
    width: 1000px;
    border-radius: 10px;
}

.bodyhome{
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    background-image: url(https://cdn.redshift.autodesk.com/sites/7/2021/01/Lean-construction-infog-header.jpg);
}

.logimg{
    
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    background-image: url(../../img/loginbg.png);
}

.regimg{
    height: 100%;
    width: 50%;
    background-image: url(https://img.freepik.com/fotos-premium/llenando-formulario-informacion-personal-documentos-carpeta-sobre-mesa-llenar-informacion-manuscrita-sobre-solicitante_494741-30724.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.imghome{
    height: 100%;
    width: 50%;
    background-image: url(../../img/constr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


.logimg2{
    height: 100%;
    width: 50%;
    background-color: var(--color-info-dark);
}

.logbtn{
    width: 90%;
    background-color: var(--color-primary);
}

.logbtn:hover{
    background-color: var(--color-primary);
    scale: 1.1;
    transition: all 300ms ease-in-out ;
}