
/* Fuentes */
h1{
  font-family: "Lato";
  font-size: 38px;  
}

h2{
  font-family: "Rubik";
}

h3{
  font-family: "Poppins";
}

p{
  font-family: "Lato";
}
/* Fuentes */

/* Lista */
li{
  list-style-type: none;
}
/* Lista */

/* Navbar */
.perf{
  border-radius: 10px;
  text-align: center;
  background-color: #FFCC00;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px; 
  margin-left: 50px
}
/* Navbar */

/* Sidebar */
.options{
  margin-top: 15px;
}
/* Sidebar */

/* Contenido */
.card:hover{
  transition: .2s;
  transform: scale(1.03);
}

.divdecor{
  background-color: #FFCC00; 
  height: 5px; 
  margin-bottom: 50px; 
  margin-left: 400px; 
  margin-right: 400px;
}
/* Contenido */